body {
 display: flex;
 margin: 0%;
 padding: 0%;
 }



.Left-container {
 display: flex;
 background-image: url('robert.jpg') ;
 background-size: cover;
 width: 40vw;
 height: 50vw;
 flex-direction: column;
 justify-content: space-between; 
}

.left-paragraph {
display: flex; 
align-self: center;
background-color: black;
opacity: .50;
}




.logo {
 margin-top: 20vh;
 color: black;
 background-color: aquamarine;
 display: flex;
 align-items: center; 
 opacity: .50;
 height: 15vh;
 justify-content: center; 
 gap: 10px; 
}

.Right-container {
 display: flex; 
flex-direction: column;
width: 60vw;
height: 50vw;
background-color: gray;
}

.i-container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 height: auto;
 margin-left: 150px;  
}



.p2 {
 margin-top: 10vh;
 margin-bottom: 10vh;    
}

button {
 margin-top: 2rem;
 width: 15rem;
 height: 4rem;
 background-color: #596D48;
 border-radius: 5%; 
 font-size: 1rem; 
 margin-left: 25vw; 
}

a:link {
 text-decoration: none;
 color: white;   
}

a:visited {
 text-decoration: none;
 
}

a:hover {
 text-decoration: underline;
}

a:active {
 text-decoration: underline;
}


.login {
 margin-top: 17vh;   
}

p {
 color: white;   
}